h1 {
    font-weight: bold;
    font-style: italic;
}
.idcr7 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.idm10 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.idn10 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 40px;
}